:root { /* variables chosen here for easier modification */
    /* colour palette (c = colour) */
    --c1: #fbfaf9; 
    --c2: #b3bfca;
    --c3: #1d69ab; 
    /* + black */

    /* fonts (f = font) */
    --f1: "Xanh Mono", serif;
    --f2: "Open Sans", sans-serif;

    --radius: 8px; /* for border radius */
}

body {
    background-color: var(--c1);
    
    font-family: var(--f2);
    line-height: 1.5; /* for good readability */
}

/* Headings --------------------------------------------------------- */

h1, h2, h3 {
    font-family: var(--f1); 
}

h1 {
    margin: 2rem 0rem;
    font-style: italic;
    font-size: 5rem;
}

h2 {
    margin: 2rem 0rem 1rem 0rem;
    font-size: 2rem;
}

h3 {
    margin: 1.5rem 0rem 0.7rem 0rem;
    font-size: 1.4rem;
}

/* Header + Nav --------------------------------------------------------- */

.header-design {
    background-color: var(--c1);
}

.logo, .nav-menu a {
    font-family: var(--f1);
    text-decoration: none;
}

.logo {
    font-style: italic;
    color:black;
    font-size: 1.5rem;
}

/* nav/page links */

.nav-menu a {
    font-size: 1.2rem;
    color: var(--c2);
}

.nav-menu a:hover {
    color: var(--c3);
}

.nav-menu a:not(.active)::before {
    content: "//";
}

.nav-menu a.active {
    color: var(--c3);
    margin: 5px;
}

/* in preparation for hamburger nav system */

#menu-toggle, .hamburger { 
    display: none; /* hide checkbox */
}

/* hamburger menu when on phone */

@media (max-width: 768px) { /* when on phone */

    .header-design .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger {
        display: flex;
        cursor: pointer; /* show it is clickable */
        color: var(--c2);
        font-size: 1.2rem;
        margin: 0rem;
    }

    .hamburger:hover {
        color: var(--c3);
    }

    .nav-menu {
        display: none;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .nav-menu ul {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    #menu-toggle:checked ~ .nav-menu {
        display: block;
        flex-direction: column;
    }
}


/* Hero section --------------------------------------------------------- */

.hero-section {
    width:100%;
    height: 75vh;
    overflow: hidden; /* hides overflow from section into other sections */

    position: relative;
}

.hero-section img { 
    /* takes up entire hero section */
    width: 100%;
    height: 100%;

    object-fit: cover; /* stops distortion, rather crops image to fit area */
    object-position: center; /* fixes swirl of image to middle */
}

.hero-content {
    position: absolute; /* position on top of hero image */
    
    /* move content to (true) center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* otherwise top left edge is at center)

    /* text */
    text-align: center;
    color:#fbfaf9;
}

/* First page bio  --------------------------------------------------------- */

.fibonacci-layout {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    width: 100%
}

.fibonacci-img-part {
    flex-basis: 38.2%; /* Smaller Fibonacci part */
    max-width: none;
}

.fibonacci-img {
    border-radius: var(--radius);
}

.fibonacci-text-part {
    max-width: 65ch;
    flex-basis: 61.8%; /* Larger Fibonacci part */
}


@media (max-width: 768px) { /* on the phone */
    .fibonacci-layout {
        flex-direction: column; /* hamburger stacking on phone */
        align-items: center; 
    }
}


/* Contact form  + form feedback ---------------------------------------------------- */

.form-input, textarea {
    width: 100%;
}

.form-label {
    font-family: var(--f1);
}

textarea {
    height: 8rem;
    resize: vertical; /* can only change size of box vertically */
}

.button-design {
    background-color: var(--c3);

    font-family: var(--f1);
    color: var(--c1);

    border: none;
    border-radius: var(--radius);

    padding: 0.2rem 0.7rem 0.2rem 0.7rem; 
}

.form-feedback-info {
    text-align: center;
}


/* Accordian / Dropdown menu  --------------------------------------------------------- */

.drop-down > summary {
    cursor: pointer;
    font-family: var(--f1);
    color: var(--c3)
}

.drop-down details, details {
    margin: 0.2rem 0;
    padding: 0.2rem 0.5rem;

    border: 1px solid var(--c2);
    border-radius: var(--radius);
}


/* Badges ---------------------------------------------------------  */

.badge-design {
    background-color: var(--c2);
    
    font-family: var(--f1);
    font-size: 1rem;
    color: var(--c1);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Bootstrap shadow-sm */; /* bootstraps shadow-sm */

    padding: 0.5rem 1rem;
}

.badge-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}


/* ------------- */

.study-date {
    font-style: italic;
    font-family: var(--f1);
}

.study-card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Bootstrap shadow-sm */; /* bootstraps shadow-sm */
    padding: 0.4rem 1rem;
    margin: 1rem auto;
    border-radius: var(--radius);
}

/* Footer --------------------------------------------------------- */

footer {
    font-family: var(--f1);
}

.footer-design {
    border-top: 1px solid var(--c2);
}


/* Main --------------------------------------------------------- */

main section:not(.fibonacci-layout){
    width: min(100%, 65ch);
    margin-inline: auto;
}

@media (max-width: 768px) { /* on the phone */
    .main section {
        flex-direction: column; /* hamburger stacking on phone */
        align-items: center; 
    }
}

section:not(.hero-section) {
    margin: 1.25rem 0rem;
}

p a, li a, footer a {
    color: var(--c3);

    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s ease;

}

footer a:hover, p a:hover, li a:hover {
    text-decoration-color: var(--c3)
}